    <div class="calendar">
      <div class="cal-header">
        <div class="cal-month"></div>
        <div>
          <button class="browse" onclick="calGenerator(currentYear, --currentMonth)">&#60;</button>
          <button class="browse" onclick="calGenerator(currentYear, ++currentMonth)">&#62;</button>
        </div>
      </div>
      <div class="cal-table"></div>
    </div>