<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="form-container">
  {{!-- tabs --}}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    {{!-- login tab --}}
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button"
        role="tab"
        aria-controls="login" aria-selected="true">Login</button>
    </li>
    {{!-- signup tab --}}
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button" role="tab"
        aria-controls="signup" aria-selected="false">Sign Up</button>
    </li>
  </ul>
  {{!-- ------------ --}}
  {{!-- tab content --}}
  <div class="tab-content" id="myTabContent">
    {{!-- login tab content--}}
    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">

      <form id="user-form" action="/login" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp">
          {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    {{!-- signup tab content--}}
    <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
      <form id="user-form" action="/signup" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp">
          {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input name="confirmPassword" type="password" class="form-control" id="confirmPassword">
        </div>
        <button type="submit" class="btn btn-primary">Sign up!</button>
      </form>
    </div>
  </div>
  {{!-- --------------------- --}}
</div>