{{> navbarPartial this}}
<div class="entry-page">

  <h2>Entries from {{query}}</h2>
  {{#if results}}
  {{#each results}}

  {{> entryPartial this}}

  {{/each}}
  {{else}}
  <div id="empty">
    This day of the calendar is empty. <br>
    Just like this ice dragon...
  </div>
  <div class="placeholder"><img src="/images/ice-dragon.png"></div>
  {{/if}}

</div>