{{> navbarPartial this}}
<div class="entry-page">

  <h2>Entries from {{query}}</h2>
  {{#if results}}
  {{#each results}}

  {{> entryPartial this}}

  {{/each}}
  {{else}}
  <div id="empty">No entries were made on this day. Kitten here though
  </div>
  <div class="placeholder"> <img src="https://placekitten.com/300/300"></div>
  {{/if}}

</div>