
{{> navbarPartial this}}
<div class="entries-page">

  <div class="entrywrapper">

    {{#if entries}}
    {{#each entries}}
    
    {{> entryPartial this}}
    
    {{/each}}
    {{else}}
    <div id="empty">No entries</div>
    {{/if}}

  </div>
</div>