{{> navbarPartial this}}
<div class="entry-page">

  <h2>My Entries</h2>
  {{#if entries}}
  {{#each entries}}

  {{> entryPartial this}}

  {{/each}}
  {{else}}
  <div class="error">No entries</div>
  {{/if}}

</div>