{{> navbarPartial this}}

<div class="wrapper">
  <p>Welcome to your Home Page, {{username}}</p>
</div>


<div class="mood-query">
  <p>How are you feeling today?</p>
  <form action="/mood" method="POST">
    <button type="submit" name="mood" value="great">
      <img src="/images/great.png" alt="great">
    </button>
    <button type="submit" name="mood" value="good">
      <img src="/images/good.png" alt="good">
    </button>
    <button type="submit" name="mood" value="annoyed">
      <img src="/images/annoyed.png" alt="annoyed">
    </button>
    <button type="submit" name="mood" value="sad">
      <img src="/images/sad.png" alt="sad">
    </button>
    <button type="submit" name="mood" value="angry">
      <img src="/images/angry.png" alt="angry">
    </button>
  </form>
</div>