{{> navbarPartial this}}

<div class="wrapper">
  <span id="greeting" class="greet"> </span><span class="username greet">{{user.username}}</span>

  <div id="quote"></div>

</div>



<div class="chosen-mood">
  <p>You are feeling {{user.mood}} today.</p>
</div>


<script src="../js/home.js"></script>