{{> navbarPartial this}}

<div class="wrapper">
  <span id="greeting" class="greet"> </span><span class="username greet">{{user.username}}</span>

  <div id="quote"></div>

</div>



<div class="mood-query mood-bg">
  <p>How are you feeling today?</p>
  <form action="/mood" method="POST">
    <button class="mood-btn" type="submit" name="mood" value="great">
      <img src="/images/great.png" alt="great">
    </button>
    <button class="mood-btn" type="submit" name="mood" value="good">
      <img src="/images/good.png" alt="good">
    </button>
    <button class="mood-btn" type="submit" name="mood" value="annoyed">
      <img src="/images/annoyed.png" alt="annoyed">
    </button>
    <button class="mood-btn" type="submit" name="mood" value="sad">
      <img src="/images/sad.png" alt="sad">
    </button>
    <button class="mood-btn" type="submit" name="mood" value="angry">
      <img src="/images/angry.png" alt="angry">
    </button>
  </form>
</div>


<script src="../js/home.js"></script>