{{> navbarPartial this}}

<div class="wrapper">
  <span id="greeting" class="greet"> </span><span class="username greet">{{user.username}}</span>

  <div id="quote"></div>

</div>


<div class="chosen-mood mood-bg disappear">
  <p>Your mood: </p>
  <p>{{user.mood}}</p>
</div>


<script src="../js/home.js"></script>

<script>
  document.onload =     
        setTimeout(() => {
         document.querySelector('.chosen-mood').classList.remove('disappear')
        }, 700);
</script>