{{> navbarPartial this}}


<div class="wrapper">
  {{!-- <p>Welcome to your Profile Page, <span class="username">{{username}}</span></p> --}}

  <div class="profilebox">
    <h1>{{user.username}}</h1>
    <div>Joined:<span class="signup-date"> {{dateFormat signupDate "dddd, MMMM Do YYYY, h:mm:ss a"}}</span></div>


  </div>

</div>